* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: pixelFont;
  src: url('./assets/font/Minecraft.ttf');
}

body {
  background-color: black;
  font-family: pixelFont;
}

.console-wrapper {
  display: grid;
  place-content: center;
  align-self: center;
  height: 100vh;
  position: relative;
  text-align: center;
  color: #EAEAEA;
  font-size: 12px;
}

img {
  width: 400px;
}

.console-content {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}